import pygame
import os
import sys
import random

all_sprites = pygame.sprite.Group()
FPS = 7
tiles_group = pygame.sprite.Group()
player_group = pygame.sprite.Group()
bad_group = pygame.sprite.Group()
clock = pygame.time.Clock()

def terminate():
    pygame.quit()
    sys.exit()


def start_screen():
    pygame.init()
    size = width, height = 600, 600
    screen = pygame.display.set_mode(size)
    screen.fill((197, 187, 145))
    font = pygame.font.Font(None, 150)
    text = font.render("ТАНКИ", 1, (112, 83, 53))
    text_x = 100
    text_y = 100
    screen.blit(text, (text_x, text_y))

    while True:
        for event in pygame.event.get():
            if event.type == pygame.QUIT:
                terminate()
            elif event.type == pygame.KEYDOWN or event.type == pygame.MOUSEBUTTONDOWN:
                return  # начинаем игру
        pygame.display.flip()
        clock.tick(FPS)

start_screen()
size = width, height = 600, 600
screen = pygame.display.set_mode(size)
screen.fill((0, 0, 0))

def load_level(filename):
    filename = 'map.txt'
    mapFile = open(filename, 'r')
    level_map = [line for line in mapFile]
    max_width = 16
    return list(map(lambda x: x.ljust(max_width, ' '), level_map))



def load_image(name, colorkey=None):
    image = pygame.image.load(name).convert()
    image = image.convert_alpha()
    return image

tile_images = {'кирпич': load_image('кирпич.png'), 'штаб': load_image('штаб.png')}
player_image = load_image('танк.png')
tile_width = tile_height = 50


class Tile(pygame.sprite.Sprite):
    def __init__(self, tile_type, pos_x, pos_y, k=True):
        super().__init__(tiles_group)
        self.image = tile_images[tile_type]
        if k:
            list_of_tiles.append([pos_x, pos_y])
        self.rect = self.image.get_rect().move(tile_width * pos_x, tile_height * pos_y)


class Player(pygame.sprite.Sprite):
    def __init__(self, pos_x, pos_y, player_image):
        super().__init__(player_group)
        self.image = load_image(player_image)
        self.rect = self.image.get_rect().move(tile_width * pos_x, tile_height * pos_y)

class Bad(pygame.sprite.Sprite):
    def __init__(self, pos_x, pos_y, bad_image):
        super().__init__(bad_group)
        self.image = load_image(bad_image)
        self.rect = self.image.get_rect().move(50 * pos_x, 50 * pos_y)

    def update(self):
        global tiles_group, bad_group, player_group, list_of_bad
        list1 = []
        self.rect.y -= 1 * 50
        if (self.rect.y == -1 * 50 or pygame.sprite.spritecollideany(self, tiles_group) or
                (len(pygame.sprite.spritecollide(self, bad_group, False)) > 1 or
                (pygame.sprite.spritecollideany(self, player_group)))):
            pass
        else:
            list1.append(1)
        self.rect.y += 1 * 50
        self.rect.y += 1 * 50
        if (self.rect.y == 12 * 50 or pygame.sprite.spritecollideany(self, tiles_group) or
                (len(pygame.sprite.spritecollide(self, bad_group, False)) > 1 or
                (pygame.sprite.spritecollideany(self, player_group)))):
            pass
        else:
            list1.append(3)
        self.rect.y -= 1 * 50
        self.rect.x -= 1 * 50
        if (self.rect.x == -1 * 50 or pygame.sprite.spritecollideany(self, tiles_group) or
                (len(pygame.sprite.spritecollide(self, bad_group, False)) > 1 or
                (pygame.sprite.spritecollideany(self, player_group)))):
            pass
        else:
            list1.append(2)
        self.rect.x += 1 * 50
        self.rect.x += 1 * 50
        if (self.rect.x == 12 * 50 or pygame.sprite.spritecollideany(self, tiles_group) or
                (len(pygame.sprite.spritecollide(self, bad_group, False)) > 1 or
                (pygame.sprite.spritecollideany(self, player_group)))):
            pass
        else:
            list1.append(4)
        self.rect.x -= 1 * 50
        if len(list1) != 0:
            place = random.choice(list1)
            if place == 1:
                self.rect.y -= 1 * 50
                self.image = load_image('плох.png')
            elif place == 2:
                self.rect.x -= 1 * 50
                self.image = load_image('плох4.png')
            elif place == 3:
                self.rect.y += 1 * 50
                self.image = load_image('плох3.png')
            else:
                self.rect.x += 1 * 50
                self.image = load_image('плох2.png')
            list_of_bad.append([self.rect.y, self.rect.x])

# основной персонаж
player = None
# группы спрайтов


def generate_level(level):
    new_player, x1, y1 = None, None, None
    for y in range(len(level)):
        for x in range(len(level[y])):
            if level[y][x] == '.':
                Tile('кирпич', x, y)
            elif level[y][x] == '#':
                Tile('штаб', x, y)
            elif level[y][x] == '@':
                x1 = x
                y1 = x
                new_player = Player(x, y, 'танк.png')
    # вернем игрока, а также размер поля в клетках
    return new_player, x1, y1

list_of_tiles = []
player, level_x, level_y = generate_level(load_level('map.txt'))
level_x = 3
level_y = 11

screen_rect = (0, 0, width, height)



class Particle(pygame.sprite.Sprite):
    # сгенерируем частицы разного размера
    fire = [load_image("пуля.png")]
    for scale in (10,):
        fire.append(pygame.transform.scale(fire[0], (scale, scale)))

    def __init__(self, pos, dx, dy, why):
        super().__init__(all_sprites)
        self.image = self.fire[-1]
        self.rect = self.image.get_rect()
        self.why = why
        # у каждой частицы своя скорость — это вектор
        self.velocity = [dx, dy]
        # и свои координаты
        self.rect.x, self.rect.y = pos

    def update(self):
        global tiles_group, list_of_tiles, screen
        # применяем гравитационный эффект:
        # движение с ускорением под действием гравитации
        self.velocity = [0, 0]
        if self.why == 4:
            self.velocity[0] = -1
        elif self.why == 1:
            self.velocity[1] = -1
        elif self.why == 2:
            self.velocity[0] = 1
        else:
            self.velocity[1] = 1
        # перемещаем частицу
        self.rect.x += self.velocity[0] * 50
        self.rect.y += self.velocity[1] * 50
        for i in range(len(list_of_tiles)):
            if self.rect.x // 50 * 50 == list_of_tiles[i][0] * 50 and self.rect.y // 50 * 50 == list_of_tiles[i][1] * 50:
                self.kill()
                #tiles_group.kill()
                tiles_group = pygame.sprite.Group()
                for j in range(len(list_of_tiles)):
                    if i != j:
                        if list_of_tiles[j] == [6, 11]:
                            Tile('штаб', list_of_tiles[j][0], list_of_tiles[j][1], False)
                        else:
                            Tile('кирпич', list_of_tiles[j][0], list_of_tiles[j][1], False)
                    elif i == j and list_of_tiles[j] == [6, 11]:
                        size = width, height = 600, 600
                        screen = pygame.display.set_mode(size)
                        screen.fill((197, 187, 145))
                        font = pygame.font.Font(None, 100)
                        text = font.render("ВЫ ПРОИГРАЛИ", 1, (112, 83, 53))
                        text_x = 10
                        text_y = 50
                        screen.blit(text, (text_x, text_y))
                        while True:
                            for event in pygame.event.get():
                                if event.type == pygame.QUIT:
                                    terminate()
                                elif event.type == pygame.KEYDOWN or event.type == pygame.MOUSEBUTTONDOWN:
                                     sys.exit()# начинаем игру
                            pygame.display.flip()
                            clock.tick(FPS * 4)

                del list_of_tiles[i]
                break

        # убиваем, если частица ушла за экран
        if not self.rect.colliderect(screen_rect):
            self.kill()
def create_particles(position, why):
    # количество создаваемых частиц
    # возможные скорости
    Particle(position, 1, 5, why)

clock = pygame.time.Clock()
where = 1
COUNT = 20
ONE_TIME = 4
NOW = 0
LIVES = 3
list_of_bad = []
LIST_OF_PLACE = [[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5], [0, 6], [0, 7], [0, 8], [0, 9],
                 [0, 10], [0, 11]]
while True:
    level_y2 = level_y
    level_x2 = level_x

    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            terminate()
        elif event.type == pygame.KEYDOWN:
            if event.key == pygame.K_UP:
                if [level_x, max(0, level_y - 1)] not in list_of_tiles and [level_x * 50, max(0, level_y - 1) * 50] not in list_of_bad:
                    player_group = pygame.sprite.Group()
                    level_y = max(0, level_y - 1)
                    player = Player(level_x, level_y, 'танк.png')
                else:
                    player = Player(level_x, level_y, 'танк.png')
                where = 1
            elif event.key == pygame.K_DOWN:
                if [level_x, min(11, level_y + 1)] not in list_of_tiles and [level_x * 50, min(11, level_y + 1) * 50] not in list_of_bad:
                    player_group = pygame.sprite.Group()
                    level_y = min(11, level_y + 1)
                    player = Player(level_x, level_y, 'танк3.png')
                else:
                    player = Player(level_x, level_y, 'танк3.png')
                where = 3
            elif event.key == pygame.K_LEFT:
                if [max(0, level_x - 1), level_y] not in list_of_tiles and [max(0, level_x - 1) * 50, level_y * 50] not in list_of_bad:
                    player_group = pygame.sprite.Group()
                    level_x = max(0, level_x - 1)
                    player = Player(level_x, level_y, 'танк4.png')
                else:
                    player = Player(level_x, level_y, 'танк4.png')
                where = 4
            elif event.key == pygame.K_RIGHT:
                if [min(11, level_x + 1), level_y] not in list_of_tiles and [min(11, level_x + 1) * 50, level_y * 50] not in list_of_bad:
                    player_group = pygame.sprite.Group()
                    level_x = min(11, level_x + 1)
                    player = Player(level_x, level_y, 'танк2.png')
                else:
                    player = Player(level_x, level_y, 'танк2.png')
                where = 2
            elif event.key == pygame.K_SPACE:
                create_particles((level_x * 50 + 20, level_y * 50 + 20), where)
    if COUNT == 0:
        size = width, height = 600, 600
        screen = pygame.display.set_mode(size)
        screen.fill((197, 187, 145))
        font = pygame.font.Font(None, 100)
        text = font.render(" ВЫ ВЫИГРАЛИ", 1, (112, 83, 53))
        text_x = 10
        text_y = 50
        screen.blit(text, (text_x, text_y))
        while True:
            for event in pygame.event.get():
                if event.type == pygame.QUIT:
                    terminate()
                elif event.type == pygame.KEYDOWN or event.type == pygame.MOUSEBUTTONDOWN:
                     sys.exit()# начинаем игру
            pygame.display.flip()
            clock.tick(FPS * 4)
    while NOW < ONE_TIME:
        coord = random.choice(LIST_OF_PLACE)
        while [coord[1], coord[0]] in list_of_bad:
            coord = random.choice(LIST_OF_PLACE)
        list_of_bad.append([coord[1], coord[0]])
        a = Bad(coord[1], coord[0], 'плох3.png')
        NOW += 1
    screen.fill((0, 0, 0))
    tiles_group.draw(screen)
    all_sprites.update()
    all_sprites.draw(screen)
    player_group.draw(screen)
    list_of_bad = []
    bad_group.update()
    bad_group.draw(screen)
    pygame.display.flip()
    print(level_x)
    clock.tick(FPS)
pygame.quit()
