import pygame
import os
import sys

FPS = 50
clock = pygame.time.Clock()

def terminate():
    pygame.quit()
    sys.exit()

def start_screen():
    pygame.init()
    size = width, height = 600, 600
    screen = pygame.display.set_mode(size)
    screen.fill((197, 187, 145))
    font = pygame.font.Font(None, 150)
    text = font.render("ТАНКИ", 1, (112, 83, 53))
    text_x = 100
    text_y = 100
    screen.blit(text, (text_x, text_y))

    while True:
        for event in pygame.event.get():
            if event.type == pygame.QUIT:
                terminate()
            elif event.type == pygame.KEYDOWN or event.type == pygame.MOUSEBUTTONDOWN:
                return  # начинаем игру
        pygame.display.flip()
        clock.tick(FPS)

start_screen()
size = width, height = 600, 600
screen = pygame.display.set_mode(size)
screen.fill((0, 0, 0))
